In [2]:
import numpy as np
import pandas as pd

In [20]:
with open('input.txt', 'r') as file:
    first = file.readline()
    fll = len(first.strip())

In [21]:
columns = [1] * fll
dfInput = pd.read_fwf('input.txt', widths = columns, header = None)  
dfInput

     0   1   2   3   4   5   6   7   8   9   10  11
0     0   0   0   1   1   0   0   1   1   0   1   1
1     0   1   0   0   1   1   0   1   0   0   0   0
2     1   1   1   1   0   1   0   1   0   0   0   1
3     1   1   1   1   0   1   0   0   1   0   0   0
4     0   0   0   0   1   0   0   0   1   1   1   0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
995   0   1   0   1   1   1   0   0   1   0   0   0
996   1   1   1   1   1   1   0   0   1   1   1   0
997   0   0   0   1   1   0   1   1   0   1   0   1
998   0   0   1   1   0   0   0   1   0   1   1   0
999   0   1   1   0   1   0   1   0   0   1   1   0

[1000 rows x 12 columns]

In [22]:
epsilon = ''
gamma = ''

for total in dfInput.sum():
    if total > 500:
        gamma += '1'
        epsilon += '0'
    else:
        gamma += '0'
        epsilon += '1'

gamma = int(gamma, 2)
epsilon = int(epsilon, 2)

print(gamma * epsilon)

3923414

In [96]:
# Part 2
dfOGR = dfInput.copy(deep = True)
col = 0

while len(dfOGR) > 1:
    if dfOGR.sum()[col] >= len(dfOGR) / 2:  # 1 is most common
        mask = dfOGR[col] == 1
        dfOGR = dfOGR[mask]
        col += 1
    else:
        # 0 is most common
        mask  = dfOGR[col] == 0
        dfOGR = dfOGR[mask]
        col += 1
        
dfOGR['OGR'] = dfOGR[[i for i in range(0,12)]].astype(str).agg(''.join, axis = 1)

In [97]:
dfOGR

     0  1  2  3  4  5  6  7  8  9  10  11           OGR
672  1  0  1  1  0  1  1  0  0  1   1   1  101101100111

In [98]:
dfCSR = dfInput.copy(deep = True)
col = 0

In [99]:
while len(dfCSR) > 1:
    if dfCSR.sum()[col] >= len(dfCSR) / 2: # 0 is least common
        mask = dfCSR[col] == 0
        dfCSR = dfCSR[mask]
        col += 1
    else:
        # 1 is least common
        mask = dfCSR[col] == 1
        dfCSR = dfCSR[mask]
        col += 1

dfCSR['CO2'] = dfCSR[[i for i in range(0,12)]].astype(str).agg(''.join, axis = 1)

In [100]:
dfCSR

     0  1  2  3  4  5  6  7  8  9  10  11           CO2
820  0  1  1  1  1  1  0  1  0  1   0   1  011111010101

In [101]:
OGR = int(dfOGR.iloc[0]['OGR'], 2)
CO2 = int(dfCSR.iloc[0]['CO2'], 2)

LSR = OGR * CO2
print(LSR)

5852595

In [ ]:
'''
Full code
'''

# Part 1
import numpy as np
import pandas as pd

'''
Input file is a lot of binary numbers of the same length

grabbing the length of the strings
'''
with open('input.txt', 'r') as file:
    first = file.readline()
    fll = len(first.strip())

    
'''
Pandas has a fixed width file reading method, so importing
file to a dataframe with a fixed width of 1 character
'''
columns = [1] * fll
dfInput = pd.read_fwf('input.txt', widths = columns, header = None)  


epsilon = ''
gamma = ''

'''
Once in a df, the column total will indicate the most common of 0 or 1

Based on that, append the the most/least common to the epsilon or gamma
strings
'''

for total in dfInput.sum():
    if total > 500:
        gamma += '1'
        epsilon += '0'
    else:
        gamma += '0'
        epsilon += '1'

'''
cast epsilon and gamma strings as base-2 int and find product
'''
gamma = int(gamma, 2)
epsilon = int(epsilon, 2)

print(gamma * epsilon)

#Part 2

'''
Not sure if it's possible to calc O2 and CO2 simultaneously...

Process: Iteratively filter df on each column until there is a single
row left

Initial messed this up by comparing:

    df.sum()[col] >= 500

Not accounting for the size of the df decreasing on each iteration...doh!
'''

dfOGR = dfInput.copy(deep = True)
col = 0

while len(dfOGR) > 1:
    if dfOGR.sum()[col] >= len(dfOGR) / 2:  # 1 is most common
        mask = dfOGR[col] == 1
        dfOGR = dfOGR[mask]
        col += 1
    else:
        # 0 is most common
        mask  = dfOGR[col] == 0
        dfOGR = dfOGR[mask]
        col += 1

# Concatenate the columns to produce final binary string
dfOGR['OGR'] = dfOGR[[i for i in range(0,12)]].astype(str).agg(''.join, axis = 1)

dfCSR = dfInput.copy(deep = True)
col = 0

while len(dfCSR) > 1:
    if dfCSR.sum()[col] >= len(dfCSR) / 2: # 0 is least common
        mask = dfCSR[col] == 0
        dfCSR = dfCSR[mask]
        col += 1
    else:
        # 1 is least common
        mask = dfCSR[col] == 1
        dfCSR = dfCSR[mask]
        col += 1

dfCSR['CO2'] = dfCSR[[i for i in range(0,12)]].astype(str).agg(''.join, axis = 1)

# Cast binary stings as base-2 in and take product
OGR = int(dfOGR.iloc[0]['OGR'], 2)
CO2 = int(dfCSR.iloc[0]['CO2'], 2)

LSR = OGR * CO2
print(LSR)